{% extends 'base.html' %}
{% load bootstrap4 %}
{% load ratings %}
{% block content %}
<hr class="mt-2">
<div class="container" style="background-color:#e3f2fd;; color:blue;">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img class="profile-image" src="{{ project.author.profile.image.url }}" alt="img"
          style="border-radius: 60%; height:4rem; width:4rem;">
        <h6 class="account-header mb-2">{{project.author}}</h6>
      </div>
      <img src="{{project.image.url}}" class=" mt-2 w-100" alt=""><hr class="mt-5">
      <a class="btn btn-sm btn-outline-info" href="{{project.link}}">Visit Site</a>
    </div>

    <div class="col-md-4"><br><br>
      <h3 class="mt-5">{{project.title}}</h3>
      
      <p class="mt-2"> {{project.description}}</p>
     
      <p class="text-info">Posted On: {{project.created_date}}</p>
      <hr>

    </div>
     <div class="mt-2">
            <div class="row">
              <div class="col-md-3">
                <h6>Design Rating</h6>
                {% ratings project %}
              </div>
              <div class="col-md-3">
                <h6>Usability Rating</h6>
                {% ratings project %}
              </div>
              <div class="col-md-3">
                <h6>Content Rating</h6>
                {% ratings project %}
              </div>
            </div>
          </div><br>
  </div>
</div>
{% endblock %}